---
import { GLOBAL } from "../lib/variables";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-16 mb-8">
  <Section class="mb-4">
    <div
      class="zag-border-b zag-transition pb-4 flex flex-col sm:flex-row sm:flex-nowrap gap-8 sm:items-center"
    >
      <ul class="flex flex-col gap-2">
        {Object.entries(GLOBAL.menu).map((i) => (
          <li>
            <Anchor url={i[1]}>{i[0]}</Anchor>
          </li>
        ))}
      </ul>
      <div class="flex flex-start items-start gap-4 w-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          class="zag-fill zag-transition w-8 h-8 min-h-8 min-w-8 max-h-8 max-w-8 -translate-y-2"
          ><path
            fill="currentColor"
            d="m10 7l-2 4h3v6H5v-6l2-4zm8 0l-2 4h3v6h-6v-6l2-4z"></path></svg
        >
        <p id="quote" class="zag-text zag-transition"></p>
      </div>
      <div class="flex flex-row sm:flex-col gap-4">
        {GLOBAL.instagramProfile && (<Anchor url={GLOBAL.instagramProfile} aria-label="Insta Profile">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
          >
            <path
            class="zag-fill zag-transition"
              d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
            ></path>
          </svg>
        </Anchor>)}
       
      </div>
    </div>
  </Section>
  <p
    class="zag-text zag-transition text-center text-sm font-medium"
  >
    &copy; {year} {GLOBAL.username}. All rights reserved.
  </p>
</footer>

<script>
  const quotes = [
    {
      quote: "An example of the use of wisdom can be given by noting that while the intelligent character will know that smoking is harmful to him, he may well lack the wisdom to stop (this writer may well fall into this category)",
      source: "Gary Gygax, AD&D Dungeon Master's Guide, page 15",
    },
    {
      quote: "It has returned; the most dangerous duck-billed platypus to ever walk the earth. The ultimate embodiment of Nature’s fury",
      source: "Patrick Stuart - Deep Carbon Observatory",
    },
    {
      quote: "...the act of heroism begins with an act of oppression or evil.",
      source: "Kevin Wilson (Spellslingers)",
    },
    {
      quote: "It is the spirit of the game, not the letter of the rules, which is important. Never hold to the letter written, nor allow some barracks room lawyer to force quotations from the rule book upon you, if it goes against the obvious intent of the game.",
      source: "DMG, pg. 230",
    },
    {
      quote: "Please, try to forget about other games, just a little, and play this one.",
      source: "Golden Sky Stories",
    },
    {
      quote: "Burn the book",
      source: "Mörk Borg",
    },
    {
      quote: "YOU CAN NOT HAVE A MEANINGFUL CAMPAIGN IF STRICT TIME RECORDS ARE NOT KEPT.",
      source: "E. Gary Gygax, 1979. Dungeon Masters Guide.",
    },
    {
      quote: "There is a comfort in iron, knowing that a fresh start is always possible. But a city is not a sword. It is a living thing, and living things defy simple fixing. Roots cannot be reforged.",
      source: "Patrick Rothfuss",
    },
    {
      quote: "The secret we should never let the gamemasters know is that they don't need any rules.",
      source: "Gary Gygax",
    },
    {
      quote: "YOU CAN NEVER GO HOME AGAIN",
      source: "Your DM",
    },
   
  ];
  const quoteElement = document.getElementById("quote");
  const randomIndex = Math.floor(Math.random() * quotes.length);
  const randomQuote = quotes[randomIndex];
  quoteElement!.textContent = randomQuote.quote;
</script>
